/*  media query for mobile */
@media only screen and (min-width: 320px) and (max-width: 768px) {
    header{
        padding: 3% 8%;
    }

    .hero-details{
        display: flex;
        align-items: flex-start;
        padding: 0 0;
        justify-content: space-between;
    }

    .cta-hero{
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    margin-left: 0;
    margin-top: 0;
    color: #fff;
    font-size: 0.6rem;
    border: 1px;
    border-radius: 28px;
    width: auto;
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    text-align: center;
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99/var(--tw-bg-opacity));
    }
    
    .btn{
    border: 1px;
    border-radius: 28px;
    width: auto;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 0.8rem;
    background-color: #fff;
    color: #999;
    }

  .nav{
    display: block;
    position: fixed;
    top: 0;
    right: -5000px;
    transition: 1.5s ease-in-out;
    width: 100%;
    height: 100vh;
    --tw-bg-opacity: 1;
    background-color: rgb(13 13 43/var(--tw-bg-opacity));
    text-align: center;
    padding-top: 30%;
    z-index: 1000;
  }

  .nav .icon-mobile-nav{
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .nav-bar ul a{
    display: block;
    margin-left: 0;
    font-size: 1.4rem;
    margin: 1.5rem 0;
  }

    .nav-bar ul li:nth-of-type(5),.nav-bar ul li:nth-of-type(6){
        display: inline-block;
        margin: 0 1rem;
    }

    .register::before{
        content: "";
        border-left: 1.5px solid #444444;
        height: 1.1rem;
        position: absolute;
        right: 9rem;
        top: 0.7rem;
        align-items: center;
    }

    .open-menu{
        display: block;
    }

    .open-menu:hover + .nav{
        right: 0px;
    }

  .hero-details {
    flex-direction: column;
  }

  .hero-text,
  .hero-image {
    flex: 1;
    padding-bottom: 1.5rem;
  }

  .hero-image img {
    width: 100%;
  }

 main .container{
    padding: 1% 8.5%;
 }

  .currency-stats {
    flex-direction: column;
    justify-content: center;
    width: 95%;
    padding: 0 2.5%;
  }

  .currency {
    margin: 1.5rem auto;
  }

  .reason-details {
    flex-direction: column;
    padding: 0 0;
    padding-bottom: 25rem;
  }

  .reason-text {
    padding-top: 0;
  }

  .earnings{
    padding: 1% 5%;
  }

  .Hashrate-details {
    width: 100%;
    padding: 1.5rem;
    align-items: initial;
  }

  input{
    width: 100%;
    margin: 2.4rem 0; 
  }

  .select{
    width: 100%;
    margin-left: 0;
    margin: 2.4rem 0;
  }

  .Hashrate-description{
        flex-direction: column;
        text-align: left;
        justify-content: initial;
        align-items: initial;
    }

    .Calculate-btn{
        font-size: 1.2rem;
        width: auto;
        margin-left: 0;
        text-align: left;
        padding: 0.5rem 1.8rem;
    }

  .trade-options {
    flex-direction: column;
    gap: 0;
    padding-bottom: 3rem;
  }

  .secure-trade{
    padding: 1% 2.5%;
    margin-top: -17rem;
  }

  .currency-info {
    margin-bottom: 2.5rem;
  }

  .currency-info:nth-of-type(3) {
    margin-bottom: 0;
  }

  .mining-btn{
    padding: 0.8rem 1rem;
  }

  .investment-description {
    flex-direction: column;
    justify-content: initial;
  }

  .investment-details,
  .feature-image1 {
    /* width: 100%; */
    margin: 0.8rem 0;
    flex: 1;
  }

  .investment-details {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .bitcoin-feature {
    padding-top: 1.2rem;
    width: 100%;
    padding-left: 0;
  }

  .statistics-description {
    flex-direction: column;
    padding: 1rem 0;
  }

  .statistics-header {
    padding-left: 0;
  }

  .statistics-details,
  .feature-image2 {
    padding-left: 0;
    margin: 0.8rem 0;
  }

  .statistics-details {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .statistics-btn {
    margin-left: 0;
  }

  .profit-tracking {
    flex-direction: column;
    padding: 6rem 0;
  }

  .investment-profit {
    padding-left: 0;
  }

  .profit-details,
  .feature-image3 {
    padding-left: 0;
    flex: 1;
  }

  .profit-details {
    padding-top: 0.5rem;
    padding-bottom: 1.4rem;
  }

  .investment-btn {
    margin-left: 0;
  }

  .bitcoin-feature {
    padding-left: 0;
    padding-top: 3rem;
  }

  .newsletter-background{
    padding: 1% 5%;
  }

  .newsletter-info{
    flex-direction: column;
    padding: 2rem;
  }

  .form{
    flex-direction: column;
    flex: 1;
    width: 100%;
  }

  .mining-input{
    width: 100%;
    margin: 1.2rem 0;
  }

  .footer{
    grid-template-columns: 1fr;
    gap: 0;
    row-gap: 2rem;
    text-align: center;
    padding:1% 4%;
  }

  .image-logos img{
    margin: 0 1rem;
    width: 80%;
    height: auto;
}

.payment-header{
    font-size: 0.9rem;
}

  .payment-header{
    font-size: 1rem;
  }

  .attribution {
    font-size: 0.8rem;
    gap: 3rem;
}

.attribution ul{
    gap: 0.8rem;
    font-size: 1.2rem;
}

}

/* For tablets */
@media only screen and (min-width:768px) and (max-width: 1024px) {
    header{
        padding: 1% 8.5%;
    }
    .cta-hero{
        display: inline-flex;
        gap: 1rem;
        align-items: center;
        margin-left: 0;
        margin-top: 0;
        color: #fff;
        font-size: 0.8rem;
        border: 1px;
        border-radius: 28px;
        width: auto;
        padding: 0.3rem 1rem 0.3rem 0.3rem;
        text-align: center;
        --tw-bg-opacity: 1;
        background-color: rgb(75 85 99/var(--tw-bg-opacity));
        }
        
        .btn{
        border: 1px;
        border-radius: 28px;
        width: auto;
        padding: 0.5rem 1rem;
        text-align: center;
        font-size: 0.8rem;
        background-color: #fff;
        color: #999;
        }

    .trade-options{
        padding-bottom: 3rem;
    }

    footer{
            padding: 1% 5%;
        }

        .image-logos{
            justify-content: center;
        }

        .image-logos img{
            margin: 0 1.2rem;
        }

        .mining-header{
            text-align: left;
        }

        .newsletter-info{
            margin-top: 1.8rem;
            flex-direction: column;
            align-items: initial;
            justify-content: initial;
        
        }

        .mining-info{
            flex: 1;
        }

        .mining-details{
            line-height: 1.3;
        }

        .mining-btn{
            width: auto;
        }

        /* .Hashrate-description{

        } */
}

/* For smaller laptops */
@media only screen and (min-width:1024px) and (max-width: 1043px){
    .hero-details{
        display: flex;
        align-items: flex-start;
        padding: 3.5rem 0;
        justify-content: space-between;
    }

    .cta-hero{
    display: inline-flex;
    gap: 1rem;
    align-items: center;
    margin-left: 0;
    margin-top: 0;
    color: #fff;
    font-size: 0.8rem;
    border: 1px;
    border-radius: 28px;
    width: auto;
    padding: 0.3rem 1rem 0.3rem 0.3rem;
    text-align: center;
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99/var(--tw-bg-opacity));
    }
    
    .btn{
    border: 1px;
    border-radius: 28px;
    width: auto;
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 0.8rem;
    background-color: #fff;
    color: #999;
    }
    
    .Hashrate-details{
        width: 100%;
        overflow: initial;
    }

    .Hashrate-description{
        gap: 1rem;
        /* justify-content: space-between; */
        width: 100%;

    }

    input{
        width: 16rem;
    }

    .select{
        width: 14rem;
        margin-left: 0;
    }

    .Calculate-btn{
        margin-left: 0;
    }

    .secure-trade{
        padding: 1% 5%;
    }

    .trade-options{
        gap: 1.5rem;
        justify-content: space-between;
        padding-bottom: 3rem;
    }

    .statistics-details .smart-investment{
        margin-left: 0;
    }

    .bitcoin-feature{
        width: 100%;
        padding-left: 0;
    }

    .investment-profit{
        padding-left: 0;
    }

    .profit-details{
        padding-left: 0;
    }

    .mining-btn{
        width: 90%;
    }

    .newsletter-info{
        padding: 3rem;
        margin-top: 3.5rem;
        margin-bottom: 5rem;
    }

    .form{
        flex: 0 0 50%;
        margin-top: -3rem;
        padding-top: 0;
        align-items: flex-start;
    }

    .mining-info{
        flex: 0 0 40%;
    }

    .mining-details{
        font-size: 0.6rem;
    }

    .subscribe-btn{
        margin-left: 4rem;
    }

    .footer{
        gap: 6rem;
    }

    .image-logos{
        gap: 0.5rem;
    }

    .image-logos img{
        margin: 0 1rem;
        width: 90%;
        height: auto;
    }

    .payment-header{
        font-size: 0.9rem;
    }
}

